.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h3 {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  background-color: rgb(197, 197, 197);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ht_master tr td {
  background-color: #e6e7ee;
}

.wtBorder {
  background-color: blue !important;
}

.handsontable table thead th {
  background-color: #e6e7ee;
}

.handsontable table tbody th {
  background-color: #e6e7ee;
  border: none;
}

.handsontable table tbody tr td{
  border-left: none;
  border-right: none;
}

.handsontable td:first-of-type, .handsontable td:first-of-type {
  border-left: none;
  border-right: none;
}

.handsontable table.htCore tbody tr th{
  border-left: none;
  border-right: none;
  border-top-width: 1px solid #CCC;
  border-bottom: 1px solid #CCC;

}

.handsontable .ht__highlight {
  border-left: none;
  border-right: none;
}